<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WeatherAPIKey</key>
	<string>c68fae2c6e0ab6cb91014cb4b264b5b6</string>
	<key>BaseUrl</key>
	<string>http://api.openweathermap.org/</string>
</dict>
</plist>
